<ul>
     <h1>Animes de Romance</h1>
    <h2 >Orange</h2>
    <li class="inline" ><%=link_to  image_tag("romance.png", alt:"No se pudo mostrar la imagen", width: 200, height: 200),
    orange_index_path %>
    </li>
</ul>
