<h1>Animes Shonen</h1>
<ul>
    <h2>One piece</h2>
    <li class="inline"><%=link_to image_tag("onepiece.jpg", alt:"No se puede mostrar la imagen.", width: 200, height:200),
    onepiece_caps_path
     %></li>
</ul>
