<div class="logind">
    <h1 class="hlogin">Login</h1>
    <form class="center-md" action="index.html" method="post">
        <p><input type="text" name="user" placeholder="User Name"></p>
        <p><input type="text" name="pass" placeholder="Password"></p>
        <input type="submit" name="submit" value="Login">
    </form>
</div>

<h2 class="center-md">or</h2>
<h1 class="center-md">Registrer</h1>

<div class="registro">
    <form class="center-md" action="index.html" method="post">
        <p><input type="text" name="usern" placeholder="User Name"></p>
        <p><input type="text" name="passn" placeholder="Password"></p>
        <p><input type="text" name="passc" placeholder="Confirm Password"></p>
        <input type="submit" name="submit" value="Registrer">
    </form>
</div>
