// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imgestrenos{
    width: 600px;
    height: 300px;
    padding: 20px;

}

#h1home{
    color: rgb(100,50,220)
}
.estrenos{
    background-color: #B3D5F8;
    border: 3px solid skyblue;
    border-radius: 5px;
    
}