// Place all the styles related to the OP controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.capitulos{
    font-family: monospace;
    font-size: 20px;
    color: blue;
    

}
.capitulos li:hover{
    text-decoration: underline;
}
